@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhai 2", cursive;
}

header {
  background-color: #000;
}

body {
  font-family: "Baloo Bhai 2", cursive;
  background-color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  text-align: center;
  color: #fff;
  margin: 50px;
  font-size: 50px;
  font-weight: 500;
}

img.logo {
  height: 65px;
}

nav.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

nav.main-navigation ul li {
  display: inline-block;
  padding: 5px;
  border-radius: 13px;
  margin: 10px 12px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}

nav.main-navigation ul li:hover {
  background-color: #36454f;
  color: white;
}

#login1:hover {
  background-color: #fff;
}

.marks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background: #000;
}

form {
  padding: 25px;
  background: #000;
  max-width: 500px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 0px 0px 20px #36454f;
}

form h2 {
  font-size: 27px;
  text-align: center;
  margin: 0px 0 30px;
}

form .form-group {
  margin-bottom: 15px;
  position: relative;
}

form label {
  display: block;
  font-size: 20px;
  margin-bottom: 7px;
  color: white;
}

form input,
form select {
  height: 45px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  outline: none;
  color: white;
  background: #000;
  border-radius: 5px;
  border: 3px solid #36454f;
  margin-top: 5px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7; /* Firefox */
}

form input:focus,
form select:focus {
  border-color: #9a9a9a;
}

form input.error,
form select.error {
  border-color: #f91919;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

form .password i {
  position: absolute;
  right: 0px;
  height: 45px;
  top: 28px;
  font-size: 13px;
  line-height: 45px;
  width: 45px;
  cursor: pointer;
  color: #939393;
  text-align: center;
}

.submit-btn {
  margin-top: 30px;
}

.submit-btn input {
  color: white;
  border: none;
  height: auto;
  font-size: 16px;
  padding: 13px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  background: #1BB295;
  transition: 0.2s ease;
}

.submit-btn input:hover {
  background: #179b81;
}

.result{
  color: white;
}

/* body {
    background-image: url(https://digitalforge.qa/images/codepen/bg.png);
}


.container{

}

.bg-light {
    padding: 15px 30px;
    border: 1px solid green;
    border-radius: 15px 0px 15px 0px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'ZCOOL XiaoWei', serif;
    margin-bottom: 25px;
    padding: 15px;
}

.text-white {
    font-size: 28px;
}

label {
    font-family: 'Raleway', sans-serif;
}

div:empty {
display:none !important;
}

.alert.alert-danger.alert-dismissible, .alert.alert-info.alert-dismissible, .alert.alert-success.alert-dismissible, .alert.alert-warning.alert-dismissible{
    margin-top:5px;
}

.credits{
margin-top:50px; 
padding:20px;
border-radius:5px;
width:450px;
text-align:center;
color:gray;
}

a {
color:gray;
text-decoration:none;
}

a:hover{
color:#34495E;
} */