* {
  box-sizing: border-box;
  font-family: "Baloo Bhai 2";
}

body {
  margin: 0px;
}

/* Navigation Bar */

.nav {
  height: 60px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  top: 0;
  z-index:1000;
}

.nav > .nav-header {
  display: inline;
  margin: 0 20px;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 25px;
  margin-right: 20px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  color: brown;
}

.nav > #nav-check {
  display: none;
}

body.dark {
  background-color: #292c35;
}

body.dark h1,
body.dark .support a {
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.support {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

#fade-wrapper {
  opacity: 0;
  transition: opacity 4s ease-out;
}

/* Body */

div.intro {
  display: grid;
  margin: 70px 100px;
  grid-template-columns: 40fr 60fr;
}

div.content p {
  color: #0c4271;
  font-size: 20px;
  font-weight: 700;
}

div.content span {
  color: rgb(160, 160, 160);
  font-size: 25px;
  font-weight: 550;
  display: block;
  margin-top: 10px;
}

div.intro img {
  margin-top: 70px;
  height: 300px;
  width: 300px;
}

div.pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  height: 100vh;
}

div.pictures:hover{
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}


textarea {
  resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* footer */

footer {
  padding-top: 50px;
  box-shadow: 0 -8px 16px -8px rgba(0, 0, 0, 0.4);
}

.svg-inline--fa {
  vertical-align: -0.2em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border: 5px solid transparent;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 42px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 4rem;
  margin-left: 4rem;
  margin-bottom: 0.15rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-envelope,
.fa-linkedin,
.fa-discord,
.fa-instagram {
  font-size: 50px;
}

.rounded-social-buttons .social-button.gmail {
  background: #ea4335;
}

.rounded-social-buttons .social-button.gmail:hover,
.rounded-social-buttons .social-button.gmail:focus {
  color: #ea4335;
  background: #fefefe;
  border-color: #ea4335;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.discord {
  background: #5865f2;
}

.rounded-social-buttons .social-button.discord:hover,
.rounded-social-buttons .social-button.discord:focus {
  color: #5865f2;
  background: #fefefe;
  border-color: #5865f2;
}

.rounded-social-buttons .social-button.instagram {
  background: #d62976;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #d62976;
  background: #fefefe;
  border-color: #d62976;
}

p.copyright {
  margin-top: 50px;
  font-size: 22px;
}

.mySlides{
  height: 400px;
  width: 400px;
  filter: grayscale(1);
  z-index: 1;
}

.mySlides:hover{
  filter: grayscale(0);
}

.mySlides img{
  
}