body {
  font-family: 'Baloo Bhai 2';
}

.hidden{
  display:none;
}

.fade-out{
  opacity: 0;
  transition: opacity 5s ease-out;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  background: linear-gradient(90deg,black,black);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear 0.5;
  position: relative;
}

p {
  font-weight: 700;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #5a4536, #5a4536);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear 0.5;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}


.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 250px;
  width: 250px;
  animation-name: scatter-zoom-shrink;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}


@keyframes scatter-zoom-shrink {
  0% {
    transform: scale(0.2) rotate(-45deg) translate(-100px, 100px);
    opacity: 0;
  }
  50% {
    transform: scale(1.5) rotate(45deg) translate(0, 0);
    opacity: 1;
  }
  75% {
    transform: scale(1.5) rotate(-45deg) translate(0,0);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
    opacity: 1;
  }
}